<h2>my app</h2>
<!-- <h2>{{title}}</h2> -->
<!-- <h3>{{myapptitle}}</h3> -->
click button
<h4>{{var1}}</h4>
Touch button
<h4>{{var2}}</h4>
<!-- <p *ngFor="let e of var3">
  {{e.formname}}
  {{e.formemail}}
  {{e.formmessage}}
</p> -->
<!-- <li >{{var3[0].formname}}</li> -->



<!-- <h1>{{var3.formname}}</h1> -->
<app-myyapp [property]="title" [child]="title1" (click1)=captureChild($event) (touch)="captureChild1($event)" [parent]="arr" [work]="arr1" (submit)='captureChild2($event)'></app-myyapp>
<div>
  <table>
      <thead>
          <tr>
              <th>name</th>
              <th>email</th>
              <th>message</th>

          </tr>
      </thead>
      <tbody *ngFor="let e of var3">
        <td>{{e.formname}}</td>
        <td>{{e.formemail}}</td>
        <td>{{e.formmessage}}</td>
      </tbody>
  </table>
</div>


